// nice_nano_v2.keymap - 键映射配置

#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/mouse.h>
#include <dt-bindings/zmk/outputs.h>

#include <behaviors.dtsi>


&keyboard {
    compatible = "zmk,keymap";

    default_layer {
        bindings = <
            &behavior_joystick_to_keys
        >;
    };
};

// 行为：摇杆移动映射到 WASD
behavior_joystick_to_keys: behavior-joystick-to-keys {
    compatible = "zmk,behavior-joystick-to-keys";
    label = "JOYSTICK -> WASD";

    #x-axis-threshold = <1000>;
    #y-axis-threshold = <1000>;

    w_key = <&kp W>;
    a_key = <&kp A>;
    s_key = <&kp S>;
    d_key = <&kp D>;

    x-invert;
    y-invert;
};
